make_scenario_2/scenario_part_A.json
{
    "name": "Alternative slideshow generation approach - Part A",
    "flow": [
        {
            "id": 1,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3110323
            },
            "mapper": {
                "base": "appUjhGlhz9j6D6tH",
                "table": "tblurB6yPWPHi9hDO",
                "maxRecords": "10",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Make or n8n"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Full Script"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Script",
                        "type": "text",
                        "label": "Script",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "elevenlabs:createTextToSpeech",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2672186
            },
            "mapper": {
                "text": "{{1.Script}}",
                "model_id": "eleven_turbo_v2_5",
                "voice_id": "dY9fWBb7TNkZB7UPeFK1",
                "voice_settings": {}
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "model_id": {
                            "mode": "chose",
                            "label": "Eleven Turbo v2.5 (eleven_turbo_v2_5)"
                        },
                        "voice_id": {
                            "mode": "edit"
                        },
                        "optimize_streaming_latency": {
                            "mode": "chose",
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "elevenlabs"
                            },
                            "label": "My ElevenLabs connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:elevenlabs",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "voice_id",
                        "type": "select",
                        "label": "Voice",
                        "required": true
                    },
                    {
                        "name": "model_id",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "voice_settings",
                        "spec": [
                            {
                                "name": "stability",
                                "type": "number",
                                "label": "Stability",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "similarity_boost",
                                "type": "number",
                                "label": "Similarity Boost",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Voice Settings"
                    },
                    {
                        "name": "optimize_streaming_latency",
                        "type": "select",
                        "label": "Optimize Streaming Latency",
                        "validate": {
                            "enum": [
                                "0",
                                "1",
                                "2",
                                "3",
                                "4"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "dropbox:uploadLargeFile",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 2672381
            },
            "mapper": {
                "data": "{{3.data}}",
                "path": "/scratch/generated_media/audio",
                "filename": "{{3.fileName}}",
                "overwrite": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "path": {
                            "mode": "chose"
                        },
                        "overwrite": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "My Dropbox connection (tad@cmdlabs.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "path",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing file",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "dropbox:createShareLink",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 2672381
            },
            "mapper": {
                "path": "{{18.path_lower}}",
                "select": "map",
                "settings": {}
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Map a file/folder path"
                        },
                        "settings": {
                            "nested": {
                                "access": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "allow_download": {
                                    "mode": "chose"
                                },
                                "require_password": {
                                    "mode": "chose"
                                },
                                "requested_visibility": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dropbox"
                            },
                            "label": "My Dropbox connection (tad@cmdlabs.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dropbox",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Way of selecting files",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "file"
                            ]
                        }
                    },
                    {
                        "name": "settings",
                        "spec": [
                            {
                                "name": "access",
                                "type": "select",
                                "label": "Link's Access Level",
                                "validate": {
                                    "enum": [
                                        "viewer",
                                        "editor",
                                        "max"
                                    ]
                                }
                            },
                            {
                                "name": "expires",
                                "time": true,
                                "type": "date",
                                "label": "Link's Expiration Date"
                            },
                            {
                                "name": "require_password",
                                "type": "boolean",
                                "label": "Require Password"
                            },
                            {
                                "name": "link_password",
                                "type": "text",
                                "label": "Link's Password"
                            },
                            {
                                "name": "allow_download",
                                "type": "boolean",
                                "label": "Allow Download"
                            },
                            {
                                "name": "requested_visibility",
                                "type": "select",
                                "label": "Requested Visibility (Deprecated)",
                                "validate": {
                                    "enum": [
                                        "public",
                                        "team_only",
                                        "password"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Settings"
                    },
                    {
                        "name": "path",
                        "type": "text",
                        "label": "File Path",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3110323
            },
            "mapper": {
                "id": "{{1.id}}",
                "base": "appUjhGlhz9j6D6tH",
                "table": "tblurB6yPWPHi9hDO",
                "record": {
                    "fldRBvRcmWY0OeGow": [
                        {
                            "url": "{{19.downloadUrl}}",
                            "filename": "{{3.fileName}}"
                        }
                    ]
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Make or n8n"
                        },
                        "table": {
                            "label": "Full Script"
                        },
                        "record": {
                            "nested": {
                                "fldRBvRcmWY0OeGow": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldDGlVjO6k8JK9Ls",
                                "type": "text",
                                "label": "Script"
                            },
                            {
                                "name": "fldRBvRcmWY0OeGow",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Script as Audio File"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Script",
                        "type": "text",
                        "label": "Script",
                        "multiline": true
                    },
                    {
                        "name": "Script as Audio File",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Script as Audio File"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:CreateTranscription",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2680860
            },
            "mapper": {
                "model": "whisper-1",
                "fileData": "{{3.data}}",
                "fileName": "{{3.fileName}}",
                "temperature": "1",
                "response_format": "verbose_json"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "whisper-1",
                            "nested": [
                                {
                                    "name": "response_format",
                                    "type": "select",
                                    "label": "Response Format",
                                    "default": "json",
                                    "options": [
                                        {
                                            "label": "JSON",
                                            "value": "json"
                                        },
                                        {
                                            "label": "Text",
                                            "value": "text"
                                        },
                                        {
                                            "label": "SRT",
                                            "value": "srt"
                                        },
                                        {
                                            "label": "Verbose JSON",
                                            "value": "verbose_json"
                                        },
                                        {
                                            "label": "VTT",
                                            "value": "vtt"
                                        }
                                    ]
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Verbose JSON"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "fileData",
                        "type": "buffer",
                        "label": "File Data",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "language",
                        "type": "text",
                        "label": "Language"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "json",
                                "text",
                                "srt",
                                "verbose_json",
                                "vtt"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "task",
                        "type": "text",
                        "label": "Task"
                    },
                    {
                        "name": "language",
                        "type": "text",
                        "label": "Language"
                    },
                    {
                        "name": "duration",
                        "type": "number",
                        "label": "Duration"
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    },
                    {
                        "name": "segments",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "number",
                                    "label": "ID"
                                },
                                {
                                    "name": "seek",
                                    "type": "number",
                                    "label": "Seek"
                                },
                                {
                                    "name": "start",
                                    "type": "number",
                                    "label": "Start"
                                },
                                {
                                    "name": "end",
                                    "type": "number",
                                    "label": "End"
                                },
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "tokens",
                                    "spec": {
                                        "type": "number"
                                    },
                                    "type": "array",
                                    "label": "Tokens"
                                },
                                {
                                    "name": "temperature",
                                    "type": "number",
                                    "label": "Temperature"
                                },
                                {
                                    "name": "avg_logprob",
                                    "type": "number",
                                    "label": "Average Log Probability"
                                },
                                {
                                    "name": "compression_ratio",
                                    "type": "number",
                                    "label": "Compression Ratio"
                                },
                                {
                                    "name": "no_speech_prob",
                                    "type": "number",
                                    "label": "No Speech Probability"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Segments"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 7,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3110323
            },
            "mapper": {
                "base": "appUjhGlhz9j6D6tH",
                "table": "tbldJc2kA2DNuQ9aK",
                "maxRecords": "10",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Make or n8n"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Full Script Segments"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Row ID",
                        "type": "number",
                        "label": "Row ID"
                    },
                    {
                        "name": "Script",
                        "type": "text",
                        "label": "Script",
                        "multiline": true
                    },
                    {
                        "name": "Photos",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Photos"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 14,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{7.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "array:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "array": "{{2.segments}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3110323
                            },
                            "mapper": {
                                "base": "appUjhGlhz9j6D6tH",
                                "table": "tbldJc2kA2DNuQ9aK",
                                "record": {
                                    "fld7PHhRrbPpcCfhU": "{{14.start}}",
                                    "fldMBVuzCkQFxyOEH": "{{14.text}}",
                                    "fldT7gZFCM4MBEaNN": "{{14.end}}",
                                    "fldsX7ImoydRQdaJ0": "{{14.id}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Make or n8n"
                                        },
                                        "table": {
                                            "label": "Full Script Segments",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldsX7ImoydRQdaJ0",
                                                            "type": "number",
                                                            "label": "Row ID"
                                                        },
                                                        {
                                                            "name": "fldMBVuzCkQFxyOEH",
                                                            "type": "text",
                                                            "label": "Script",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fld7PHhRrbPpcCfhU",
                                                            "type": "number",
                                                            "label": "Start Time"
                                                        },
                                                        {
                                                            "name": "fldT7gZFCM4MBEaNN",
                                                            "type": "number",
                                                            "label": "End Time"
                                                        },
                                                        {
                                                            "name": "fldjSrITtEZ6aEDNL",
                                                            "spec": [
                                                                {
                                                                    "help": "Airtable will download the file at the given url and keep its own copy of it.",
                                                                    "name": "url",
                                                                    "type": "text",
                                                                    "label": "File URL"
                                                                },
                                                                {
                                                                    "help": "If empty, Airtable will generate the name automatically.",
                                                                    "name": "filename",
                                                                    "type": "filename",
                                                                    "label": "File name"
                                                                }
                                                            ],
                                                            "type": "array",
                                                            "label": "Photos",
                                                            "editable": true
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fldjSrITtEZ6aEDNL": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable Token or Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldsX7ImoydRQdaJ0",
                                                "type": "number",
                                                "label": "Row ID"
                                            },
                                            {
                                                "name": "fldMBVuzCkQFxyOEH",
                                                "type": "text",
                                                "label": "Script"
                                            },
                                            {
                                                "name": "fld7PHhRrbPpcCfhU",
                                                "type": "number",
                                                "label": "Start Time"
                                            },
                                            {
                                                "name": "fldT7gZFCM4MBEaNN",
                                                "type": "number",
                                                "label": "End Time"
                                            },
                                            {
                                                "name": "fldjSrITtEZ6aEDNL",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "File URL"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Photos"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Row ID",
                                        "type": "number",
                                        "label": "Row ID"
                                    },
                                    {
                                        "name": "Script",
                                        "type": "text",
                                        "label": "Script",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Start Time",
                                        "type": "number",
                                        "label": "Start Time"
                                    },
                                    {
                                        "name": "End Time",
                                        "type": "number",
                                        "label": "End Time"
                                    },
                                    {
                                        "name": "Photos",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "MIME type"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Small"
                                                    },
                                                    {
                                                        "name": "large",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Large"
                                                    },
                                                    {
                                                        "name": "full",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Full"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnails"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Photos"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 7
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{7.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{7.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 300
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Airtable - Search Records [7]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 10,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{9.array}}",
                                            "b": "0",
                                            "o": "array:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "array": "{{9.array}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "airtable:ActionDeleteRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3110323
                            },
                            "mapper": {
                                "id": "{{10.id}}",
                                "base": "appUjhGlhz9j6D6tH",
                                "table": "tbldJc2kA2DNuQ9aK"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "Make or n8n"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Full Script Segments"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable Token or Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 10
                            },
                            "mapper": {},
                            "metadata": {
                                "designer": {
                                    "x": 3300,
                                    "y": 300
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Iterator [10]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 4,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{2.segments}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3110323
                            },
                            "mapper": {
                                "base": "appUjhGlhz9j6D6tH",
                                "table": "tbldJc2kA2DNuQ9aK",
                                "record": {
                                    "fld7PHhRrbPpcCfhU": "{{4.start}}",
                                    "fldMBVuzCkQFxyOEH": "{{4.text}}",
                                    "fldT7gZFCM4MBEaNN": "{{4.end}}",
                                    "fldsX7ImoydRQdaJ0": "{{4.id}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Make or n8n"
                                        },
                                        "table": {
                                            "label": "Full Script Segments",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldsX7ImoydRQdaJ0",
                                                            "type": "number",
                                                            "label": "Row ID"
                                                        },
                                                        {
                                                            "name": "fldMBVuzCkQFxyOEH",
                                                            "type": "text",
                                                            "label": "Script",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fld7PHhRrbPpcCfhU",
                                                            "type": "number",
                                                            "label": "Start Time"
                                                        },
                                                        {
                                                            "name": "fldT7gZFCM4MBEaNN",
                                                            "type": "number",
                                                            "label": "End Time"
                                                        },
                                                        {
                                                            "name": "fldjSrITtEZ6aEDNL",
                                                            "spec": [
                                                                {
                                                                    "help": "Airtable will download the file at the given url and keep its own copy of it.",
                                                                    "name": "url",
                                                                    "type": "text",
                                                                    "label": "File URL"
                                                                },
                                                                {
                                                                    "help": "If empty, Airtable will generate the name automatically.",
                                                                    "name": "filename",
                                                                    "type": "filename",
                                                                    "label": "File name"
                                                                }
                                                            ],
                                                            "type": "array",
                                                            "label": "Photos",
                                                            "editable": true
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fldjSrITtEZ6aEDNL": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable Token or Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldsX7ImoydRQdaJ0",
                                                "type": "number",
                                                "label": "Row ID"
                                            },
                                            {
                                                "name": "fldMBVuzCkQFxyOEH",
                                                "type": "text",
                                                "label": "Script"
                                            },
                                            {
                                                "name": "fld7PHhRrbPpcCfhU",
                                                "type": "number",
                                                "label": "Start Time"
                                            },
                                            {
                                                "name": "fldT7gZFCM4MBEaNN",
                                                "type": "number",
                                                "label": "End Time"
                                            },
                                            {
                                                "name": "fldjSrITtEZ6aEDNL",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "File URL"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Photos"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Row ID",
                                        "type": "number",
                                        "label": "Row ID"
                                    },
                                    {
                                        "name": "Script",
                                        "type": "text",
                                        "label": "Script",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Start Time",
                                        "type": "number",
                                        "label": "Start Time"
                                    },
                                    {
                                        "name": "End Time",
                                        "type": "number",
                                        "label": "End Time"
                                    },
                                    {
                                        "name": "Photos",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "MIME type"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Small"
                                                    },
                                                    {
                                                        "name": "large",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Large"
                                                    },
                                                    {
                                                        "name": "full",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Full"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnails"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Photos"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}